// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.sec-bg {
    background-color: #fff8f3;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: border-box;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2{
    color:#474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: auto, auto;
    background-color: #FFF8F3;

}

/* Nav Styles */
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px 0 226px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 226px;
    
}

.banner-content {
    max-width: 584;
    margin-bottom: 0;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 0;
    margin-top: 0;
}

.banner-profile-pic {
    width: 584;
    height: 676;
}
/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section h3 {
    text-align: center;
}

main section p {
    text-align: justify;
}

main section div p {
    text-align: center;
}
.about {
    border-radius: 10px;
    padding: 131px 150px;
    text-align: center;
    margin-top: 130px;
}

.item-description {
    font-weight: 600;
}

.about-items {
    display: flex;
    justify-content: space-around;
}